rules_version = '2';
service cloud.firestore {

    // general authentication
    function isAnyLoggedInUser() {
        return request.auth != null
            && request.auth.token.email_verified;
    }

    function isSpecificLoggedInUser(userId) {
        return isAnyLoggedInUser()
            && userId == request.auth.uid;
    }

    // users
    function userDisplayNameIsValid() {
        return request.resource.data.displayName is string
            && request.resource.data.displayName.size() > 0;
    }

    function userPhotoUrlIsValid() {
        return request.resource.data.photoURL is string;
    }

    // matches
    match /databases/{database}/documents {
        // FIXME write unit tests with VSC

        function isRegisteredUser() {
            return isAnyLoggedInUser()
                && exists(/databases/$(database)/documents/users/$(request.auth.uid));
        }

        match /users/{userId} {
            allow read: if isSpecificLoggedInUser(userId);
            allow create: if isSpecificLoggedInUser(userId)
                && userDisplayNameIsValid()
                && userPhotoUrlIsValid();
            allow update: if isRegisteredUser()
                && userDisplayNameIsValid()
                && userPhotoUrlIsValid();
        }

        match /communities/{communityId} {
            allow read: if isRegisteredUser();
            allow create: if isRegisteredUser();
            // FIXME to be defined
            //allow update: if get(/databases/$(database)/documents/communities/$(communityId)/private_data/private).data.roles[request.auth.uid] in ["owner"];
        }

        match /communities/{communityId}/private_data/private {
            allow read: if isRegisteredUser(); // FIXME validate
            allow create: if isRegisteredUser();
        }
    }
}